{% extends "layout.njk" %}
{% block content %}
<p>Navigation</p>
<ul>

  <li><a href=/>Home page</a></li>

</ul>
<h1>Nom des jeux </h1>

 {%for games in gamesName%}

  <li><a  href=twoPlatform/{{games.id}}>{{games.name}}</a></li>

{% else %}
   <li> empty </li>


  {% endfor %}


{% endblock%}
