
{% block content %}
<p>Navigation</p>
<ul>
  <li><a href=test>Type de jeux</a></li>
  <li><a href=/>liste </a></li>
  <li><a href=onePlatform>Id</a></li>
</ul>
<h1>Nom des jeux </h1>

 {%for games in gamesName%}
   <li> {{games.name}}</li>
{% else %}
   <li> empty </li>


  {% endfor %}


{% endblock%}
