
{% block content %}
<p>Navigation</p>
<ul>
  <li><a href=home>Nom des jeux</a></li>
  <li><a href=test>Type de Jeux</a></li>
  <li><a href=onePlatform>Id</a></li>
</ul>
<h1/> Choisissez votre Platforme </h1>

 {%for platforms in platName%}



  <li><a  href=home/{{platforms.id}}>{{platforms.name}}</a></li>
{% else %}
   <li> empty </li>


  {% endfor %}


{% endblock%}

