

{% block content %}
<p>Navigation</p>
<ul>
  <li><a href=home>Nom des jeux</a></li>
  <li><a href=/>liste </a></li>
  <li><a href=onePlatform>Id</a></li>
</ul>
<h1>Choix du type de jeu</h1>


 {%for game in gamesNames%}
   <li> {{games.name}}</li>
  <li><a  href=test/{{games.id}}>{{games.name}}</a></li>

 {# {%for platfo in testName%}
   <li> {{platfo.slug}}</li>
{% else %}
   <li> empty </li> #}


  {% endfor %}


{% endblock%}
