
{% extends "layout.njk" %}
{% block content %}
<p>Navigation</p>
<ul>
<li><a href=/>Home page</a></li>
<li><a href=/home/>list of games</a></li>


</ul>
<h1>Choix du type de jeu</h1>


 {%for playgames in twoName%}


  <li><a  href=home/test/{{playgames.screensshots.url}}>{{playgames}}</a></li>




  {% endfor %}


{% endblock%}
